input{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:hover{
    border-color: rgb(51, 135, 231);
}

table{
    width: 700px;
}

td{
    padding: 20px 0 0 20px;
}

#label{
    text-align: right;
    padding: 20px 0 0 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: none;
}

/* .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('/static/assets/images/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
    filter: blur(10px);
} */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    color: black;
    background-color: white;
}

.container{
    background-color:#fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-bottom: 3rem;
}

#container{
    width: 700px;
    height: none;
}

#lasttd{
    padding-bottom: 1rem;
}