input{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:hover{
    border-color: rgb(51, 135, 231);
}

select{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select:hover{
    border-color: rgb(51, 135, 231);
}

textarea:hover{
    border-color: rgb(51, 135, 231);
}

.radiobtn{
    width: auto;
}

td{
    padding: 20px 0 0 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: none;
}

textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 160vh;
    background-image: url('/static/assets/images/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(10px);
}

.btn{
    color: black;
    background-color: white;
}

.container{
    background-color:aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#container{
    width: 700px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#lasttd{
    padding-bottom: 1rem;
}

.fa-eye{
    position: absolute;
    top: 57.5%;
    right: 30%;
    cursor: pointer;
    color: gray;
}
