
            {% include "header.html" %}
            <style>
              /* Chrome, Safari, Edge, Opera */
              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              
              /* Firefox */
              input[type=number] {
                -moz-appearance: textfield;
              }
              </style>
          <!--  ************************* Page Title Starts Here ************************** -->
             <div class="page-nav no-margin row">
                <div class="container">
                    <div class="row">
                        <h2 class="text-start"> Contact Us</h2>
                        <ul>
                            <li> <a href="\"><i class="bi bi-house-door"></i> Home</a></li>
                            <li><i class="bi bi-chevron-double-right pe-2"></i> Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
            
           
        <!-- <div style="margin-top:0px;" class="row no-margin">

            <iframe style="width:100%" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d249759.19784092825!2d79.10145254589841!3d12.009924873581818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1448883859107"  height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


          </div> -->

          <div class="row contact-rooo big-padding no-margin">
            <div class="container">
               <div class="row">


                <div style="padding:20px" class="col-sm-7">
                <form action="{% url 'contactUs_action' %}" method="post">
                  {% csrf_token %}
                <h2 class="fs-4 fw-bold" >Contact Form</h2> <br>
                {% if 'islogin' in request.session and request.session.islogin  %}
                    <div class="row cont-row">
                        <div  class="col-sm-3"><label>Enter Name </label><span>:</span></div>
                        <div class="col-sm-8"><input type="text" id="name" placeholder="Enter Name" name="name" class="form-control input-sm" readonly value="{{customer_obj.firstname}} {{customer_obj.lastname}}"></div>
                    </div>
                    <div  class="row cont-row">
                        <div  class="col-sm-3"><label>Email Address </label><span>:</span></div>
                        <div class="col-sm-8"><input type="email" name="email" placeholder="Enter Email Address" class="form-control input-sm" readonly value="{{customer_obj.email}}" ></div>
                    </div>
                    <input type="text" name="user_id" hidden value="{{customer_obj.id}}">
                     <div  class="row cont-row">
                        <div  class="col-sm-3"><label>Mobile Number</label><span>:</span></div>
                        <div class="col-sm-8"><input type="number" name="phone" maxlength="10" placeholder="Enter Mobile Number" class="form-control input-sm" value="{{customer_obj.phoneNo}}" required></div>
                    </div>
                {% else %}
                  <div class="row cont-row">
                      <div  class="col-sm-3"><label>Enter Name </label><span>:</span></div>
                      <div class="col-sm-8"><input type="text" id="name" placeholder="Enter Name" name="name" class="form-control input-sm" required></div>
                  </div>
                  <div  class="row cont-row">
                      <div  class="col-sm-3"><label>Email Address </label><span>:</span></div>
                      <div class="col-sm-8"><input type="email" name="email" placeholder="Enter Email Address" class="form-control input-sm" required></div>
                  </div>
                  
                  <div  class="row cont-row">
                      <div  class="col-sm-3"><label>Mobile Number</label><span>:</span></div>
                      <div class="col-sm-8"><input type="number" name="phone" maxlength="10" placeholder="Enter Mobile Number" class="form-control input-sm" required></div>
                  </div>
                  {% endif %}
                     <div  class="row cont-row">
                        <div  class="col-sm-3"><label>Enter Message</label><span>:</span></div>
                        <div class="col-sm-8">
                          <textarea rows="5" name="message" placeholder="Enter Your Message" class="form-control input-sm" required></textarea>
                        </div>
                    </div>
                     <div style="margin-top:10px;" class="row">
                        <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                        <div class="col-sm-8">
                         <button class="btn btn-primary btn-sm">Send Message</button>
                        </div>
                    </div>
                  </form>
                  </div>
                 <div class="col-sm-5">    
                      <div style="margin:10%;" class="serv">
                        <span class="badge badge-primary p-2">GET IN TOUCH</span><br>
                        <div style="display: flex;">
                          <i class="fas fa-map-marker-alt" style="color: #1690f0;margin-top: 4%;font-size: larger;margin-right: 3%;"></i><h2 class="fs-4 fw-bold" style="margin-top:10px;color: #1690f0;">Address</h2>
                        </div>
                        Shop No-5,1st Floor, Abhinandan Complex, BRTS<br>
                        Road, opp. TRP Mall BRTS Main Road, Bopal,<br>
                        Ahmedabad, Gujarat 380058<br>
                        <div style="display: flex;">
                          <i class="fas fa-phone" style="color: #1690f0;margin-top: 4%;font-size: larger;margin-right: 3%;"></i><h2 class="fs-4 fw-bold" style="margin-top:10px;color: #1690f0;">Phone</h2>
                        </div>
                        +91 90164 67984<br>
                        +91 74349 16606<br>
                        <div style="display: flex;">
                          <i class="fas fa-envelope" style="color: #1690f0;margin-top: 4%;font-size: larger;margin-right: 3%;"></i><h2 class="fs-4 fw-bold" style="margin-top:10px;color: #1690f0;">Email</h2>
                        </div>
                        info@therowala.in<br>
                        

                   </div>    
                 </div>
              </div>
            </div>
          </div>
          <script>
            // Get the input element
            var nameInput = document.getElementById('name');
        
            // Add event listener to listen for input events
            nameInput.addEventListener('input', function(event) {
                // Get the input value
                var inputValue = event.target.value;
        
                // Regular expression to match only characters
                var regex = /^[a-zA-Z\s]*$/;
        
                // Test if the input matches the regular expression
                if (!regex.test(inputValue)) {
                    // If input does not match, clear the input field
                    event.target.value = '';
                    // Optionally, you can show an error message
                    alert('Please enter only letters');
                }
            });
        </script>
        
        <!--- ############ Footer Starts Here ################## -->
        {% include "footer.html" %}

