<footer>
    <div class="inner">
        <div class="container">
            <div class="row" style="justify-content: space-between;">
                <div class="col-md-3 foot-about" style="width: 60%;">
                    <h4>About US</h4>

                    <p>At RO Wala, we’re not just in the business of selling and servicing water purifiers; we’re in the business of ensuring your health and well-being. With over five years of dedicated service in the industry, we’ve established ourselves as the go-to destination in Ahmedabad, Gujarat, for all your water purification needs.</p>

                    <ul>
                 
                        <li>Shop No-5,1st Floor, Abhinandan Complex, BRTS</li>
                        <li>info@therowala.in</li>
                        <li>+91 90164 67984</li>
                    </ul>
                </div>

                <!-- <div class="col-md-3 foot-post" style="width: 30%;">
                    <h4>Latest Posts</h4>

                    <div class="post-row">
                        <div class="image">
                            <img src="assets/images/album/a6.jpg" alt="">
                        </div>
                        <div class="detail">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit </p>
                        </div>
                    </div>

                    <div class="post-row">
                        <div class="image">
                            <img src="assets/images/album/a5.jpg" alt="">
                        </div>
                        <div class="detail">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit </p>
                        </div>
                    </div>

                    <div class="post-row">
                        <div class="image">
                            <img src="assets/images/album/a4.jpg" alt="">
                        </div>
                        <div class="detail">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit </p>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-3 foot-services" style="text-align: center; width: 40%">
                    <h4>Top Category</h4>

                    <ul>
                        <li><a href="/getCat/2/" style="text-decoration: none;">Home Water Purifiers</a></li>
                        <li><a href="/getCat/4/" style="text-decoration: none;">Commercial Water Purifiers</a></li>
                        <li><a href="/getCat/3/" style="text-decoration: none;">Water Purifiers Accessories</a></li>
                        <!-- <li><a href="" style="text-decoration: none;">Page Optimization</a></li>
                        <li><a href="" style="text-decoration: none;">Target Statergy</a></li>
                        <li><a href="" style="text-decoration: none;">Email Marketing</a></li> -->
                    </ul>
                </div>

                <!-- <div class="col-md-3 foot-news">
                    <h4>News Letter</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, vehicula eget eros. </p>

                    <!-- <div class="input-group mb-3">
                        <input type="text" class="form-control mb-0" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text bg-primary" id="basic-addon2"><i class="bi text-white bi-send"></i></span>
                        </div>
                    </div> -->

                    <!-- <ul>
                        <li><i class="bi bi-facebook"></i></li>
                        <li><i class="bi bi-twitter"></i></li>
                        <li><i class="bi bi-instagram"></i></li>
                        <li><i class="bi bi-linkedin"></i></li>
                        <li><i class="bi bi-pinterest"></i></li>
                    </ul> -->
                <!-- </div> --> 
            </div>
        </div>
    </div>
</footer>
<div class="copy">
    <div class="container">
        <a href="https://www.smarteyeapps.com/" style="text-decoration: none;">2025 &copy; All Rights Reserved | RO WALA PVT. LTD.</a>  
    </div>
</div>


</body>
<script src="/static/assets/js/jquery-3.2.1.min.js"></script>
<script src="/static/assets/js/popper.min.js"></script>
<script src="/static/assets/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="/static/assets/plugins/testimonial/js/owl.carousel.min.js"></script>
<script src="/static/assets/js/script.js"></script>
<!-- Add these script tags to include Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-o9IqNqZc5f1DSs6xR6ZfRkkb9PDI1BGPiK7PPK2P9p1QihwZ6F+VR5L4luu+8IbC" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-7YWXLF1jcvEshZF7FdMNJ51VPtOVArO2DTPteBEf3OP8ejEuXpk14YOOmlN3Rw3N" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wyek5EIRYHbeA2kWiAxAFAWjiQfVBJa1CP" crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>


</html>